body {
  padding-left: 80px;
  padding-top: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#ecf0eb;
}

a {
  color: #00B7FF;
}

fieldset {
    float: left;
}

#main {
    float: left;
}

#upload-box {
    position: relative;
    box-sizing: border-box;
    background: #eee;
    border: 6px dashed grey;
    border-radius: 8px;
    font-size: 20px;
    width: 300px;
    height: 240px;
    text-align: center;
}

#progress {
    color: grey;
    width: 80%;
    height: 20%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#subscribed_list,
#list {
    overflow: auto;
    background: #222;
    width: 300px;
    height: 322px;
}

.subscription-section {
    width: 300px;
}

#subscribed_list ul,
#list ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}


#subscribed_list li:before,
#list li:before {
    content: "•";
    padding-right: 4px;
    color: white; /* or whatever color you prefer */
}

#video {
    width: 820px;
    height: 500px;
}


#lower_div
{
	clear: left;
}


.anchor-like-button
{
	text-decoration: none !important;
	color:#c4c4c4;
}

h4
{
	margin:5px !important;
}


#notify
{
	display: none;
	background-color:#75a147;
	position: fixed;
    top: 0;
	width:100%;
	margin-left: -90px;
	padding:5px;
	padding-left:100px;
}


.subscribe_list
{
	height:30px;
	width:120px;
}

.subscribe_btn
{
	height:30px;
	width:100px;
	margin-left:5px;
}


.upload-wrapper
{
	border: 0;
	width:91%;
	background-color:#75a147;
	padding-bottom:30px;
	padding-left:30px;
}


.button
{
	background-color: #5b5da3;
	color: #c4c4c4;
}

.tnclist
{
	font-size:10px;
	margin-left:-20px;
	margin-top:-20px;
}


.show_list
{
	height:30px;
	width:150px;
	margin-bottom:5px;
}









